<%= form_with model: restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "" %>
  <p>attention commence par une maj</p>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>
  <%= f.submit  %>
<% end %>
